{% extends 'base.html' %}

{% block title %}Cadastrar Imóvel{% endblock %}

{% load static %}

{% block content %} 
<div class="row align-items-center g-4 mt-4">

    <!-- Imagem -->
    <div class="col-lg-6">
        <img src="{% static 'images/imovel.png' %}" class="img-fluid rounded shadow" alt="Imóvel">
    </div>

    <!-- Formulário -->
    <div class="col-lg-6">
        <form action="{% url 'immobile-create' %}" method="post" enctype="multipart/form-data" class="card p-4 shadow">
            {% csrf_token %}
            <h4 class="mb-3">Cadastrar Imóvel</h4>
            {% for field in form %}
            <div class="mb-3">
                <label for="{{field.id_for_label}}" class="form-label">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100 mt-3">Salvar</button>
        </form>
    </div>

</div> 
{% endblock %}
