{% extends 'base.html' %}

{% block title %}Relatório{% endblock %}

{% block content %}

<div class="container"> 

    <div class="row g-3 align-items-center m-3 bg-light p-3"> 

        <!-- Pesquisar pelo nome ou e-mail do cliente -->
        <div class="col-auto">  
            <label>Nome do Cliente ou E-mail</label>
            <form class="d-flex" action="{% url 'reports' %}">
                <input name="client" type="search" class="form-control me-2" placeholder="Pesquisar por cliente..." aria-label="Search">
                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
            </form> 
        </div>

        <!-- Filter por Intervalo de data -->
        <div class="col-auto">  
            <form class="d-flex align-items-end" action="{% url 'reports' %}"> 
                <div class="">
                    <label for="">Inicio</label>
                    <input name="dt_start" type="date" value="{{request.GET.dt_start}}" class="form-control me-2"> 
                </div>
                <div class="">
                    <label for="">Final</label>
                    <input name="dt_end" type="date" value="{{request.GET.dt_end}}" class="form-control me-2"> 
                </div>
                <div class="">
                    <button class="btn btn-outline-dark" type="submit"><i class="fas fa-filter"></i></button> 
                </div>
            </form> 
        </div>


        <!-- Filtrar pelo status do imóvel se está locado ou não locado -->
        <div class="col-auto">
            <form action="{% url 'reports' %}">
                <label>Status Locação</label>
                <select name="is_locate" class="form-select" onchange="this.form.submit()">
                    <option></option> 
                    <option value="True" {% if request.GET.is_locate == 'True' %}selected{% endif %}>LOCADO</option>
                    <option value="False" {% if request.GET.is_locate == 'False' %}selected{% endif %}>NÃO LOCADO</option> 
                </select>
            </form>
        </div>

        <!-- Filter pelo tipo de imóvel -->
        <div class="col-auto">
            <form class="" action="{% url 'reports' %}">
            <label>Tipo de Imóvel</label>
                <select name="type_item" class="form-select" onchange="this.form.submit()">
                    <option></option> 
                    <option value="APARTAMENTO" {% if request.GET.type_item == 'APARTAMENTO' %}selected{% endif %}>APARTAMENTO</option>
                    <option value="KITNET" {% if request.GET.type_item == 'KITNET' %}selected{% endif %}>KITNET</option>
                    <option value="CASA" {% if request.GET.type_item == 'CASA' %}selected{% endif %}>CASA</option>
                </select>
            </form> 
        </div>
    
        <!-- Resetar estado dos filtros -->
        <div class="col-auto"> 
            <a class="btn btn-danger" href="{% url 'reports' %}"><i class="fas fa-window-close"></i></a>
        </div>  
        
    </div>


    <!-- Tabela com todas informações de Registro de Locação -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Registro Inicial</th>
                <th scope="col">Registro Final</th>
                <th scope="col">Cliente</th>
                <th scope="col">Codigo</th>
                <th scope="col">Imovel</th>
                <th scope="col">Valor</th>
                <th scope="col">Locado</th>
            </tr>
        </thead>
        <tbody>
            {% for immobile in immobiles %}
            <tr>
                <td scope="row">{{immobile.id}}</td>

                <td scope="row">{% for location in immobile.reg_location.all %}{{location.dt_start|date:"d/m/Y"}}{% endfor %}</td>
                <td scope="row">{% for location in immobile.reg_location.all %}{{location.dt_end|date:"d/m/Y"}}{% endfor %}</td>
                <td scope="row">{% for location in immobile.reg_location.all %}{{location.client}}{% endfor %}</td>

                <td scope="row">{{immobile.code}}</td>
                <td scope="row">{{immobile.type_item}}</td>
                <td scope="row">R$ {{immobile.price}}</td>

                <td scope="row">
                    {% if immobile.is_locate == True %}
                    <i class="fas fa-check-circle fa-2x link-success"></i>
                    {% else %}
                    <i class="fas fa-minus-circle fa-2x link-danger"></i>
                    {% endif %} 
                </td>

            </tr>  
            {% endfor %}
        </tbody>
    </table> 
</div>

{% endblock %}